*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	font-family: Arial;
	box-sizing: border-box;
}
body{
	color: #fff;
	padding: 10px;
	font-size: 2em;
	background-color: #000;
}
.meio{
	width: 100%;
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
}
.yeah{
	margin: 1px;
	width: 140px;
	padding: 2px;
	font-size: 4em;
}
input{
	color: #fff;
	width: 200px;
	padding: 2px;
	font-size: 4em;
	background-color: #000;
	border-bottom: 2px solid #fff;
}
input:hover{
	border-color: #ccc;
}
button{
	color: #fff;
	cursor: pointer;
	background-color: #000;
}
button:hover{
	color: #ccc;
}
